<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= poll!.content %> - Devpoll</title>

  <meta name="description" content="<%= poll!.content %>">
  <meta name="author" content="Oleksii Fedorov (waterlink)">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <h1><%= poll!.content %></h1>

  <hr>

  <% if can_vote? %>

  <form method="POST" action="/polls/<%= poll!.slug %>/answers">
    <% answers.each do |answer| %>
    <input type="radio" id="value_<%= answer.id %>" name="value" value="<%= answer.value %>" />
    <label for="value_<%= answer.id %>"><%= answer.value %></label>
    <% end %>

    <hr>

    <input type="submit" value="Submit" />
  </form>

  <% else %>

  <h2>Results:</h2>

  <ul>
    <% answers.each do |answer| %>
    <li>"<%= answer.value %>" - <%= answer.voted %> voted</li>
    <% end %>
  </ul>

  <% end %>

  <hr>

  <a href="/">Back to Home</a>

</body>
